.vehcles-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 95%;
  height: 30vh;
  margin-left: 2%;
  background-color: #BBCDE5;
  max-height: 30vh;
  overflow-y: scroll;
}

.vehicle-div {
  margin-right: 2%;
  margin-bottom: 2%;
}

.add-vehicle {
  position: absolute;
  bottom: 3%;
  left: 1%;
}

.vehicle-detatils{
  height: 50%;
  width:50%;
  align-self: center;

}

.vehicle-container-data{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
