<span>{{data.action}} Vehicle</span>
<div class="dialog-content">
  <mat-form-field class="input">
    <mat-label>Car Name:</mat-label>
    <input #carName matInput>
  </mat-form-field>
  <mat-form-field class="input">
    <mat-label>Car Type:</mat-label>
    <mat-select [(value)]="selected">
      <mat-option value="SUV">SUV</mat-option>
      <mat-option value="Truck">TRUCK</mat-option>
      <mat-option value="Hybrid">HYBRID</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput #dateConnection [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button (click)="closeDialog()" mat-button>{{data.action}}</button>
</div>

